/target
/dist
/node_modules
/src-tauri/target
/src-tauri/gen
/src-tauri/bundled-binaries/*
!/src-tauri/bundled-binaries/.gitkeep
/src-tauri/Cargo.lock
/approval-tauri/target
/approval-tauri/gen
/approval-tauri/Cargo.lock
.codebuddy
